@font-face {
    font-family: "LeagueSpartan";
    src: url("LeagueSpartan-Bold.otf") format("opentype");
    /*font-size: 1em*/
    }
    
@font-face {
      font-family: 'Montserrat', sans-serif;  
  }
  
body{
    background-color: #f2f2f2
}

.sub-heading{
    font-family:  "LeagueSpartan";
    font-size: 1.2em;
    margin-left: 5%
    /*text-align: left;*/
}

#mapid { 
    height: 90vh; 
    width: 100%;
}

.name, .address, .time, .type, .accessibity{
    font-size: 1em;
    margin-left:5%;
    margin-top:2%;
    margin-right: 5%;
    font-family: 'Montserrat';
    line-height: 150%;
}

.leaflet-popup-content{
    font-size: 1em;
    font-family: 'Montserrat';
    line-height: 200%;
}

.homepage{
    font-size: 0.8em;
    color: black;
    padding-left: 65%;
    text-align: right;
    font-family: 'Montserrat';
    
}


#notes { position: absolute; 
            z-index: 99999; 
            margin-left: 80%;
            margin-top: 2%;
            width: 15%;
            background: rgba(255,255,255,0.7); 
}

#notes h1 {
    font-size: 1.5em;
    font-family: 'Montserrat';
}

#notes p {
    font-size: 1em;
    font-family: 'Montserrat';
    line-height: 2em;
}



