/*Styles for AA Page*/
/*Fonts*/
@font-face {
    font-family: "LeagueSpartan";
    src: url("LeagueSpartan-Bold.otf") format("opentype");
    /*font-size: 1em*/
    }
    
@font-face {
      font-family: 'Montserrat', sans-serif;  
  }

/*HTML page*/
body{
    background-color: #f2f2f2
}

.homepage{
    font-size: 0.8em;
    color: black;
    padding-left: 65%;
    text-align: right;
    font-family: 'Montserrat';
    
}
.sub-heading{
    font-family:  "LeagueSpartan";
    font-size: 1.2em;
    margin-left: 5%
    /*text-align: left;*/
}

/*Map Styles*/
#mapid { 
    height: 90vh; 
    width: 100%;
}

/*Popup Marker Style*/
.leaflet-popup-content{
    font-size: 1em;
    font-family: 'Montserrat';
    line-height: 200%;
    line-height: 2em;
}

.address {
    font-size: 1.2em;
    line-height: 2.4em;
}
.access{
    font-size: 0.9em;
}
.name {
    font-size: 1.2em;
    text-indent: -1em;
    line-height: 2.4em;
}
.type{
    /*text-indent: 1.5em;*/
    list-style-type: none;
}
.day{
    /*text-indent: 1.5em;*/
    list-style-type: none;
}
.time{
    list-style-type: none;
}

