/*Styles for Process Blog*/
/*Fonts*/
@font-face {
    font-family: "LeagueSpartan";
    src: url("LeagueSpartan-Bold.otf") format("opentype");
    font-size: 1em
    }
    
@font-face {
      font-family: 'Montserrat', sans-serif;  
  }
  
/*HTML Pages*/
body{
    background-color: #f2f2f2
}

h1{
    font-size: 2.5em;
    color: black;
    padding-top: 2%;
    padding-left: 5%;
    font-family:  "LeagueSpartan";
}

p{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

a{
    font-size: 1em;
    color: black;
    padding-top: 10%;
    margin-top: 10%;
    padding-left: 90%;
    text-align: right;
    font-family: 'Montserrat';
}

/*For Each Class of the blog*/
.title{
    font-family:  "LeagueSpartan";
    font-size: 1.5em;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #f2c544;
    text-align: left
}

.category{
    font-size: 1em;
    font-family: 'Montserrat';
    line-height: 150%;
    text-align: left;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

.created{
    font-size: 1em;
    font-family: 'Montserrat';
    line-height: 150%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    text-align: left
}

.content{
    font-size: 1em;
    text-align: justify;
    font-family: 'Montserrat';
    line-height: 150%;
    padding-top: 0.5%;
    padding-bottom: 5%;
}

/*Drop down*/
.custom-select{
    width: 20%;
    margin-bottom: 2%;
    margin-left: 75%;
}



